<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>网页抓取</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet"/>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/capture.js"></script>
</head>

<body>
<div id="web" style="float: left;width: 40%;height: 700px;margin:20px 3% 20px 5%;border: 1px solid #000">
    <table>
        <thead>
        <tr>
            <th style="width: 250px;">Server</th>
            <th style="width: 250px;">SpiderName</th>
            <th style="width: 150px;">Status</th>
            <th style="width: 150px;"><button onclick="checkAll()">全选</button> <button onclick="checkNo()">取消</button></th>
        </tr>
        </thead>
    </table>
    <div style="height: 660px;overflow-y:auto">
        <table >
            <tbody id="spiderList"></tbody>
        </table>
    </div>
</div>
<div id="log" style="float: right;width: 40%;height: 680px;margin:20px 5% 20px 3%;border: 1px solid #000;padding:10px; overflow-y:scroll">
    Select spider to show log
</div>

<br />
<div style="float: left;margin: 0 5%;">
    <div style="height: 30px;margin: 0 10px;display: inline-block">
        <select id="domain" style="width: 80px;"><option value="localhost">localhost</option></select><input id="name" placeholder="Name" style="width: 100px;"/><input id="allow_domain" placeholder="抓取域" style="width: 100px;"/><input id="start_url" placeholder="抓取起始URL" style="width: 200px;"/><input id="request_delay" placeholder="抓取间隔" style="width: 55px;"/>
    </div>
    <button  class="s_btn" id="add">添加网址</button>
    <button  class="s_btn" id="delete">删除网址</button>
    <button  class="s_btn" id="startWeb">开始</button>
    <button  class="s_btn" id="stopWeb">停止</button>
</div>
</body>
</html>
