<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>智能搜索</title>
     <link href="/css/style.css" type="text/css" rel="stylesheet"/>
     <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
     <script src="/js/index.js"></script>
</head>

<body>
    <div id="wrapper">
        <div id="s-skin-container" style="background-image: url(/images/bg1.jpg)"></div>
        <button id="update" style="float: right">更新索引</button>
        <button id="capture" style="float: right">网页抓取</button>
        <div id="s-container">
            <div style="width: 100%" id="InputDiv">
              <span id="s_kw_wrap">
                    <span class="soutu-btn" style="background-image:  url(/images/camera.png);"></span>
                    <input type="text" class="s_ipt" maxlength="100" id="text">
                </span>
                <button  class="s_btn" id="search">搜索</button>
            </div>

        </div>
    </div>
</body>
</html>