<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>更新索引</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet"/>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/update.js"></script>
</head>

<body>
    <div class="Bar">
        <div id="proBack" style="width:0">
            <span id="pro"></span>
        </div>
    </div>
    <div style="margin: 0 auto;width: 1000px;">
        <button  class="s_btn" id="start">开始索引</button>
        <button  class="s_btn" id="stop">终止索引</button>
    </div>
</body>
</html>